Repository openfoodfacts/openfoodfacts-js, pull requests merged in 2024-11, with the labels that each got.

#546 chore(deps): update eslint
  .yarn/releases/yarn-4.0.2.cjs
  .yarn/releases/yarn-4.5.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Labels: dependencies

#549 chore: add prettier configuration and format files
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/auto-assign-pr.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/github-projects.yml
  .github/workflows/label.yml
  .github/workflows/merge-conflict-autolabel.yml
  .github/workflows/package.yml
  .github/workflows/release-please.yml
  .github/workflows/top-issues.yml
  .prettierignore
  .prettierrc
  FEATURES.md
  README.md
  eslint.config.mjs
  package.json
  src/folksonomy.ts
  src/formbody.ts
  src/prices.ts
  src/robotoff.ts
  tests/folksonomy.spec.ts
  tests/nutripatrol.spec.ts
Labels: GitHub Actions

#552 chore(ci): fix node version check
  .github/workflows/node.js.yml
Labels: GitHub Actions

#551 ci: add prettier and eslint checks in actions and fix nodejs actions
  .github/workflows/merge-conflict-autolabel.yml
  .github/workflows/node.js.yml
  .github/workflows/nodejs.yml
Labels: GitHub Actions

#558 chore: update contributors configuration and add CONTRIBUTORS.md file
  .all-contributorsrc
  CONTRIBUTORS.md
Labels: 📚 Documentation, refactor

#559 feat: add USER_AGENT constant and include it in API request headers
  src/consts.ts
  src/folksonomy.ts
  src/main.ts
  src/nutripatrol.ts
  src/prices.ts
  src/robotoff.ts
Labels: ✨ enhancement

#560 chore: update release-please action and configuration
  .github/workflows/release-please.yml
  CHANGELOG.md
Labels: GitHub Actions

#562 chore: clean unused commands and packages in package.json
  package.json
  yarn.lock
Labels: refactor, dependencies
